html {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgb(219, 206, 206);
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --red: #fa292a;
  --brown: #57b440;
  --blue: #4a7670;
}

header h1 {
  text-align: center;
  margin-top: 0px;
  color: white;
  font-weight: 300;
  font-size: 50px;
  margin: 5px;
}

.game-board-wrapper {
  width: 350px;
  height: 350px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.one,
.two,
.three,
.four,
.five,
.six {
  border-bottom: white solid 3px;
}

.one,
.two,
.four,
.five,
.seven,
.eight {
  border-right: white solid 3px;
}

.game-square {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.game-square:hover {
  background-color: #202020;
}

.game-square > span {
  color: white;
  font-size: 70px;
  display: inline-block;
}

.avatar_wrapper {
  width: 15vw;
}

.avatar_wrapper > figcaption {
  text-align: center;
  padding-bottom: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.center_me {
  display: flex;
  justify-content: center;
  padding: 12px;
}

button {
  margin: 0px 10px;
  padding: 8px 12px;
  background-color: var(--brown);
  color: white;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 2px;
  border: none;
}

header {
  margin: 0px;
  background-color: var(--brown);
  padding: 12px;
}

main {
  background-color: black;
}

.center_me > p {
  margin-bottom: 0px;
  color: white;
  font-size: 18px;
}

.announcement {
  padding-bottom: 0px;
}

#one-player {
  background: white;
  border: white solid 1px;
  color: var(--brown);
}

#new-game:hover,
#two-player:hover,
#one-player:hover {
  transform: scale(1.1);
}

#new-game:hover {
  background: white;
  color: var(--brown);
}

.buttons {
  padding-bottom: 30px;
}
